<div class="card-container" >
    <table>
        <td>
        <tr><span class="athleteField">id</span> {{athleteData.id}}</tr>
        <tr><span class="athleteField">username</span> {{athleteData.username}}</tr>
        <tr><span class="athleteField">id</span> {{athleteData.firstname}}</tr>
        <tr><span class="athleteField">firstname</span> {{athleteData.lastname}}</tr>
        <tr><span class="athleteField">city</span> {{athleteData.city}}</tr>
        <tr><span class="athleteField">state</span> {{athleteData.state}}</tr>
        <tr><span class="athleteField">country</span> {{athleteData.country}}</tr>
        </td>
    </table>
</div>