<div class="component-container">

    <div class="card-container">
      <button (click)="athleteActivitiesLoad.emit()">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
        <span>List athlete activities</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        </svg>
      </button>
    </div>

    <div class="table-wrapper" *ngIf="athleteActivities.length > 0">
      <table class="fl-table">
        <tr>
          <th><span class="activityField"></span></th>
          <th><span class="activityField">name</span></th>
          <th><span class="activityField">distance</span></th>
          <th><span class="activityField">moving_time</span></th>
          <th><span class="activityField">elapsed_time</span></th>
          <th><span class="activityField">total_elevation_gain</span>
          <th><span class="activityField">type</span></th>
          <th><span class="activityField">workout_type</span></th>
          <th><span class="activityField">start_date</span></th>
          <th><span class="activityField">start_date_local</span></th>
          <th><span class="activityField">timezone</span></th>
          <th><span class="activityField">utc_offset</span></th>
          <th><span class="activityField">start_latlng</span></th>
          <th><span class="activityField">end_latlng</span></th>
          <th><span class="activityField">location_city</span></th>
          <th><span class="activityField">location_state</span></th>
          <th><span class="activityField">location_country</span></th>
        </tr>
        <tr *ngFor="let activity of athleteActivities">
            <td><button (click)="athleteActivityPlotEvent.emit(activity)" [disabled]="activity.map.summary_polyline == null">Load on the map</button></td>
            <td>{{activity.name}}</td>
            <td>{{activity.distance}}</td>
            <td>{{activity.moving_time}}</td>
            <td>{{activity.elapsed_time}}</td>
            <td>{{activity.total_elevation_gain}}</td>
            <td>{{activity.type}}</td>
            <td>{{activity.workout_type}}</td>
            <td>{{activity.start_date}}</td>
            <td>{{activity.start_date_local}}</td>
            <td>{{activity.timezone}}</td>
            <td>{{activity.utc_offset}}</td>
            <td>{{activity.start_latlng}}</td>
            <td>{{activity.end_latlng}}</td>
            <td>{{activity.location_city}}</td>
            <td>{{activity.location_state}}</td>
            <td>{{activity.location_country}}</td>
        </tr>
      </table>
    </div>
  </div>